<app>
    <name>公众店铺系统</name>
    <type>service</type>
    <description>提供公众店铺功能</description>

    <author>
        <name>恒大微购技术部</name>
        <email>jsb@hdvg.tv</email>
        <url>http://www.hdvg.tv</url>
    </author>

    <version>0.1</version>
    <license>HDVG license</license>

    <parent_model_class>dbeav_model</parent_model_class>

    <depends>
        <app>entermembercenter</app>
        <app>site</app>
        <app>system</app>
        <app>syscategory</app>
        <app>syslogistics</app>
        <app>sysshop</app>
        <app>sysitem</app>
        <app>sysuser</app>
        <app>systrade</app>
        <app>ectools</app>
        <app>search</app>
        <app>sysdecorate</app>
        <app>toputil</app>
        <app>topshop</app>
        <app>sysconf</app>
        <app>sysclearing</app>
    </depends>

</app>
