<div id="header" class="header">
  <div class="wrap-lg">
    <div class="row">
      <div class="col-lg-4 header-left">
        <div class="logo"><img src="images/logo.png" alt=""></div>
      </div>
      <div class="col-lg-5 header-title">
        公众店铺支付
        <{if $msg != 'true'}>
          <br /><span style="font-size: 12px; color: #FF0000;">VIP卡支付遇到问题：<{$msg}></span>
        <{/if}>
      </div>
      <div class="header-right">
        <div class="status-bar2">
          <div class="on">
            <div class="bg"><span class="number">1</span></div>
            <div class="txt">选择支付方式</div>
          </div>
          <div>
            <div class="bg"><span class="number">2</span></div>
            <div class="txt">进行支付</div>
          </div>
          <div>
            <div class="bg"><span class="number">3</span></div>
            <div class="txt">支付完成</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- main container -->
<div id="main" class="main">
  <div class="wrap-lg">
    <!--登录支付平台弹框-->
    <{include file=$mainfile}>

  </div>
</div>
